/* nav */
*{
  margin: 0px;
}
#briSearch{
  width: 20px;
}

#briSlider {
    height: 400px;

}

#briSlider img{
  width: 100% ;
  height: 100%;
  object-fit:contain; 
  background-position: center;
  text-align: center;


}

.briFa {
  margin-top: 20px;
}

.briCardBtn{
  color:#FFCC00;
  font-weight: bold;
  background-color: white;
  border-color: transparent;
}

.briNoticia{
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  padding: 0;
}
.video1{
  padding-top: 35px;
}
.briSection{
  text-align: center;
  margin-left: 7%;
  background-color: transparent;
}

.briVideo{
  object-fit: contain;
  align-items: center;
  align-content: center;
  padding-bottom: 25px;

} 
.briVideo div{
  align-items: center;
  text-align: center;
}

/*Timer */
#Timer {
  /* display: flex; */
  background-color: rgb(215, 218, 221);
	justify-content: center;
  padding-bottom: 5px;
  padding-top:5px;
	margin-bottom: 100px;
  columns: 4;
}

.simply-section {
	background: rgb(194, 207, 219);
	width: 20%;
	height: 100%;
	margin: 0 30px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
  margin-bottom: 40px;
}


.simply-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
  align-items: center;
	text-align: center;
  margin-top: 5px;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
  align-items: center;
	text-align: center;
  margin-bottom: 15px;
  height: 15px;
}