/* COLORS */
.azul{
  color: #003366;
}
.azulclaro{
  color: #0578BE;
}
.amarillo{
  color: #FFCC00;
}
.amarillohelp{
  color: #E5A812;
}
.verdehelp{
  color: #99CC66;
}
.celestehelp{
  color: #3399CC;
}
.rojohelp{
  color: #C74A34;
}
.morado{
  color: #874487;
}
.gris{
  color: #192D38;
}
.gris1{
  color: #192D38;
}
.gris2{
  color: #495961;
}
.gris3{
  color: #83929B;
}
.gris4{
  color: #BFC9D0;
}
.gris5{
  color: #ECF2F6;
}

/* LOGIN VIEW */
.merysectionlogin{
  background-color: #874487;
  width: 100vw;
  height: 100vh;
}
.merylogoperson{
  max-width: 50%;
}
.merylogoperson img{
  max-width: 100%;
}
#merybuttonlogin{
  background-color: #C74A34;
  border: none;
  outline: none;
  font-weight: bold;
}
.merymainimg{
  max-width: 45%;
  height: 100%;
}
.merymainimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.merycardlogin{
  max-width:70%;
}
.meryarticle1{
  max-width: 55%;
}

/* HEADER VIEW */
.meryheader{
  width: 100vw;
  background-color: #FFCC00;
}
.meryimgheader{
  max-width: 15%;
}
.meryimgheader img{
  width: 100%;
}
#merylinkheader{
  color: #874487;
}

/* SUBNAV */
.merysubnav nav{
  background-color: #874487;
}
#searchNancy {
  height: 40px;
  width: 356px;
  border-radius: 20px;
  background: transparent;
  border: none;
  outline: none;
}
.merylinkjob{
  width: fit-content;
  max-height: 2.6rem;
  list-style: none;
  background: #FFCC00;
  color: #003366;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 3rem;
  font-weight: bold;
  border-radius: 50px;
  width: 28%;
  padding-right: 0px;
  padding-left: 0px;
}
.merylogoheader{
  width: 100%;
}
/* MAIN */