/* LOGIN VIEW */
.merysectionlogin{
  background-color: #874487;
  width: 100vw;
  height: 100vh;
}
.merylogoperson{
  max-width: 50%;
}
.merylogoperson img{
  max-width: 100%;
}
#merybuttonlogin{
  background-color: #C74A34;
  border: none;
  outline: none;
  font-weight: bold;
}
.merymainimg{
  max-width: 45%;
  height: 100%;
}
.merymainimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.merycardlogin{
  max-width:70%;
}
.meryarticle1{
  max-width: 55%;
}

/* HEADER VIEW */
.meryheader{
  width: 100vw;
  background-color: #FFCC00;
}
.meryimgheader{
  max-width: 15%;
}
.meryimgheader img{
  width: 100%;
}
#merylinkheader{
  color: #874487,
}