/* ADMINISTRADOR*/
#add-photo-container input {
  background-color: "#0D0B6E";
}

.search-box
{   position: relative;
    display:block;
    height: 58.62px;
    width: 330px;
    margin: 10px;
    padding:10px 10px;
    background-color:rgba(196, 196, 196, 0.45);
    border-radius: 3px;
    border: 1px solid #E3B309;
    box-sizing: border-box;
    cursor: pointer;
}

  /* SALUD*/
  #add-photo-container input {
    display: none;
}

.photo {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.card-text, .card-title{
  text-align: center;
  margin-top: 10px;
}

.description {
  right: 100px;  
  justify-content: flex-end;
    margin-right: 20px;
    margin-top: 150px;
    padding-right: 190px;
}
.btn-sucess{
  margin-right: 300px;
}

h4 {
  width: fit-content !important;
  text-align: center !important;
}

.text-secondary {
  width: fit-content !important;
  text-align: center !important;
}

@media (max-width:768px) {
  .meryheader {
    height: 50px;
  }

}

/*NAVBAR*/

.icon {
  max-width: 200px;
}

#searchNancy {
  height: 40px;
  width: 356px;
  border-radius: 20px;
  background: transparent;
  border: none;
  outline: none;
}


@media (max-width:768px) {
  .icon {
    position: fixed;
      top: -2.5px;
      right: 480px;
      height: 80px;
      width: 50%;
  }
  

  #dropdown-basics{
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    right: 250px;
  }


  #dropdown-basic{
    display: block;
    text-align: center;
    margin: 3rem auto;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    right: 550px;
    margin-top: 90px;
  }
  
  .fa-search{
  right: 50px;
  }

}

@media (max-width:812px) {
  .secondnav {
    margin-right: 30px;
    font-size: 15px;
  }
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #FFCC00;

}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}

/* SALUD */


@media screen and (max-width: 768px) {
  .photo {
      max-width: 10rem;
      max-height: 8rem; 
  }
  .description {
    max-width: 10rem;
    max-height: 8rem; 
    margin-top: auto;
  }
  .text-secondary {
    width: fit-content;
  }
}


