




#text-post {
  position: absolute;
  margin-top: -130px;
  margin-left: 45px;
  width: 70%;
  height: 10%;
  text-align: center;
  padding: 35px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-sizing: border-box;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


